@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;
}

body {
  background: url('../public/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.mapContainer {
  margin: auto;
}

.GMap, .InfoWindow {
  font-family: 'Roboto', sans-serif;
}

.GMap-canvas {
  margin: auto;
  width: 60%;
  height: 450px;
  margin: auto;
}

.legend {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.legend h3 {
  margin-top: 0;
}

.legend img {
  vertical-align: middle;
}

.z-zero {
  z-index: 0;
}
.small {
  font-size: 10px;
}

.margy-t {
  padding-top: 50px;
}

.margyy-t {
  margin-top: 50px;
}


.margy-r {
  margin-right: 30px!important
}

.margy-a {
  margin: auto!important
}

.fifty-w {
  width: 60%!important 
}

.forty-w {
  width: 40% !important
}

.co {
  color: black!important;
  background: #E1CC58!important;
  border: 2px solid black!important;
  border-radius: 2px!important;
  font-weight: bolder
}

.co-b {
  background: #466F76 !important;
  transition: .2s ease-out;
}
.co-b:hover, .co:hover {
  background: #759196 !important;
}

.co-n {
  background: #466F76 !important;
}

.bor {
  border: 3px solid black!important;
  border-radius: 2px!important;
}

.inpy {
  text-transform: uppercase;
  background: #E1CC58!important;  
  color: black!important;
  border: 2px solid black!important;
  border-radius: 2px!important;
  font-weight: bolder;
  padding-left: 10px !important;
}

.inpy:focus {
  border-bottom: 1px solid black!important;
  box-shadow: 0 1px 0 0 black!important;
  padding: 0px 25px;
  background: #759196 !important;
  
}

.inpy::-webkit-input-placeholder {
  color:    black;
}
.inpy:-moz-placeholder { 
 color:    black;
 opacity:  .5;
}
.inpy::-moz-placeholder {
 color:    black;
 opacity:  .5;
}
.inpy:-ms-input-placeholder { 
 color:    black;
}
.inpy::-ms-input-placeholder {
 color:    black;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #466F76 !important;
  border-bottom: 2px solid #466F76 !important;
}

input[type=text].valid, input[type=text]:focus.valid {
  border-bottom: 1px solid #607d8b !important;
  box-shadow: none !important;
} 

input[type='checkbox']+label {
  color: #466F76;
}

input {
  border-bottom: 1px solid black !important;
  box-shadow: none !important;
}

.blue-grey-text:focus {
  border-bottom: 1px solid #607d8b!important;
  box-shadow: 0 1px 0 0 #607d8b!important;
}


.thick {
  font-weight: bolder;
  text-transform: uppercase
}
.big {
  font-size: 18px;
}
nav .brand-logo {
  margin-right: -10px;
  width: 15%;
  transition: background-color .3s;
}
nav .brand-logo:hover {
  font-weight: 500;
}
nav ul a:hover, nav .brand-logo:hover {
  background: rgba(225, 204, 88, .9)!important;
  color: black !important
}

.prefix.active{
  color: #607d8b !important;
}
